@font-face {
	font-family: "Roboto Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(/font/roboto_5.2.6_latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Roboto Variable";
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url(/font/roboto_5.2.9_latin-wght-italic.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "JetBrains Mono Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 800;
	src: url(/font/jetbrains-mono_5.0.19_latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "JetBrains Mono Variable";
	font-style: italic;
	font-display: swap;
	font-weight: 100 800;
	src: url(/font/jetbrains-mono_5.0.19_latin-wght-italic.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Roboto Serif Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(/font/roboto-serif_5.2.8_latin-full-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Roboto Serif Variable";
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url(/font/roboto-serif_5.2.8_latin-full-italic.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
	color-scheme: light dark;
}

@layer base {
	input[type="submit"] {
		cursor: pointer;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		background-color: var(--color-background);
		color: var(--color-foreground);
	}
	em {
		font-family: var(--font-serif);
	}
	*[title] {
		cursor: help;
		text-decoration: underline dotted var(--color-muted-foreground);
		text-underline-offset: 4px;
	}

	.shiki {
		border: 1px solid var(--color-border);
		tab-size: 2;
	}

	@media (prefers-color-scheme: dark) {
		video,
		img {
			filter: brightness(0.8) contrast(1.2);
		}
	}
}

@theme {
	--font-sans: "Roboto Variable", sans-serif;
	--font-serif: "Roboto Serif Variable", serif;
	--font-mono: "JetBrains Mono Variable", monospace;
	--color-foreground: light-dark(#000000, #ffffff);
	--color-background: light-dark(#ffffff, #000000);
	--color-danger-foreground: light-dark(crimson, crimson);
	--color-muted: light-dark(#eeeeee, #333333);
	--color-muted-foreground: light-dark(#666666, #cccccc);
	--color-primary: gray;
	--color-border: light-dark(#cccccc, #666666);
	/*--radius: 0.5rem;*/
}

@plugin "@tailwindcss/forms" {
	strategy: "base";
}

@layer utilities {
	.prose {
		code::before {
			content: "";
		}
		code::after {
			content: "";
		}
		:not(pre) code {
			background-color: var(--color-muted);
			color: var(--color-muted-foreground);
			padding-left: 4px;
			padding-right: 4px;
			border-radius: var(--radius-xs);
			font-weight: 400;
			white-space: nowrap;
		}
		img {
			border: 1px solid var(--color-border);
			border-radius: var(--radius-md);
			width: 100%;
		}
		img[tabindex="0"] {
			cursor: zoom-in;
		}
		img:focus-visible,
		img:active {
			cursor: none;
			transform: scale(2);
			position: relative;
			z-index: 1;
		}
		video {
			width: 100%;
			border: 1px solid var(--color-border);
			border-radius: var(--radius-md);
		}
		p {
			text-wrap: pretty;
		}
		figcaption {
			text-align: center;
		}
	}
}
