---
title: Homelab
lead: Minimal self hosted server running in cloudflare tunnel.
publishedAt: 2026-06-21
layout: project
---

<script lang="ts">
    import { config } from "$lib/config"
    const homelabLink = config.platformLinks.forgejo+"/house"
</script>

[View source code]({homelabLink})

The site ({conifg.site.link} and its subdomains generally) uses Go as a backend, and Svelte as a static site generator and docker for different services.
